In [1]:
import numpy as np 
import pandas as pd
import json
import time

In [3]:
with open('programs.json', 'r') as f:
    data = json.loads(f.read())
df_nested_list = pd.json_normalize(data)

In [4]:
df_nested_list.head()

,model,pk,fields.poster_path,fields.name,fields.original_title,fields.overview,fields.popularity,fields.release_date,fields.genre_ids,fields.first_air_date,fields.vote_average,fields.vote_count,fields.origin_country,fields.like_users,fields.provider.link,fields.provider.flatrate,fields.provider.rent,fields.provider.buy,fields.provider.free,fields.provider.ads
0,programs.program,81356,/g2Os8JGYCEvBVrqW5WccNZ57NOD.jpg,오티스의 비밀 상담소,Sex Education,"소심한 소년 오티스의 대반전, 그가 아웃사이더 소녀와 함께 섹스 상담소를 연다. 성...",3845.330,2019-01-11,"[35, 18]",2019-01-11,8.4,4564,[GB],[],https://www.themoviedb.org/tv/81356-sex-educat...,"[{'display_priority': 0, 'logo_path': '/9A1JSV...",NaN,NaN,NaN,NaN
1,programs.program,63174,/4EYPN5mVIhKLfxGruy7Dy41dTVn.jpg,루시퍼,Lucifer,지긋지긋한 지옥 생활을 청산하고 은퇴를 선언한 악마. LA로 와 나이트클럽을 열고 ...,1647.608,2016-01-25,"[80, 10765]",2016-01-25,8.5,10466,[US],[],https://www.themoviedb.org/tv/63174-lucifer/wa...,"[{'display_priority': 0, 'logo_path': '/9A1JSV...","[{'display_priority': 4, 'logo_path': '/gvykO9...","[{'display_priority': 4, 'logo_path': '/gvykO9...",NaN,NaN
2,programs.program,1402,/rqeYMLryjcawh2JeRpCVUDXYM5b.jpg,워킹 데드,The Walking Dead,2010년 10월 AMC에서 방영을 시작한 좀비 아포칼립스물. 조지아 주의 보안관 ...,1182.372,2010-10-31,"[10759, 18, 10765]",2010-10-31,8.1,11724,[US],[],https://www.themoviedb.org/tv/1402-the-walking...,"[{'display_priority': 0, 'logo_path': '/9A1JSV...",NaN,NaN,NaN,NaN
3,programs.program,69050,/6zBWSuYW3Ps1nTfeMS8siS4KUaA.jpg,리버데일,Riverdale,"평화로운 소도시 리버데일에서 살아가는 아치와 친구들이 복잡한 연애, 섹스, 학교생활...",926.774,2017-01-26,"[9648, 18, 80]",2017-01-26,8.6,11932,[US],[],https://www.themoviedb.org/tv/69050-riverdale/...,"[{'display_priority': 0, 'logo_path': '/9A1JSV...",NaN,NaN,NaN,NaN
4,programs.program,71712,/53P8oHo9cfOsgb1cLxBi4pFY0ja.jpg,굿 닥터,The Good Doctor,자폐증을 가진 젊은 외과 의사가 명문 병원에 들어가게된다. 이에 사람들과 소통하지 ...,1298.941,2017-09-25,[18],2017-09-25,8.6,9436,[US],[],https://www.themoviedb.org/tv/71712-the-good-d...,"[{'display_priority': 0, 'logo_path': '/9A1JSV...","[{'display_priority': 4, 'logo_path': '/gvykO9...","[{'display_priority': 4, 'logo_path': '/gvykO9...",NaN,NaN

In [5]:
meta = df_nested_list[["pk", "fields.original_title", "fields.genre_ids"]]
meta

          pk fields.original_title        fields.genre_ids
0      81356         Sex Education                [35, 18]
1      63174               Lucifer             [80, 10765]
2       1402      The Walking Dead      [10759, 18, 10765]
3      69050             Riverdale          [9648, 18, 80]
4      71712       The Good Doctor                    [18]
...      ...                   ...                     ...
2298   46302              まおゆう魔王勇者  [16, 35, 10765, 10759]
2299  133559        빌려드립니다 바퀴 달린 집          [10764, 10767]
2300  129024    Cooking With Paris                 [10764]
2301   67925       The Last Tycoon                    [18]
2302   70525             가족끼리 왜 이래                [18, 35]

[2303 rows x 3 columns]

In [6]:
meta = meta.rename(columns={'pk':'programId'})
meta = meta.rename(columns={'fields.original_title':'original_title'})
# meta = meta.rename(columns={'fields.original_language':'original_language'})
meta = meta.rename(columns={'fields.genre_ids':'genres'})

In [7]:
with open('program_reviews.json', 'r') as f:
    data = json.loads(f.read())
ratings = pd.json_normalize(data)

In [8]:
ratings

                   userId  programId  rating
0                  Rangan      63174     5.0
1                 Godhand      63174     5.0
2            tmdb38541732       1402     6.0
3                 lukan87       1402    10.0
4             benefits247       1402     1.0
..                    ...        ...     ...
210           benefits247      81241     1.0
211  cesccarlos@gmail.com      81241     5.0
212          noche.oscura      81241     8.0
213              Clarst11      81241     6.0
214             wogsurfer      81241     5.0

[215 rows x 3 columns]

In [9]:
meta.programId = pd.to_numeric(meta.programId, errors='coerce')
ratings.programId = pd.to_numeric(ratings.programId, errors='coerce')

In [10]:
data = pd.merge(ratings, meta, on='programId', how='inner')

In [11]:
data

,userId,programId,rating,original_title,genres
0,Rangan,63174,5.0,Lucifer,"[80, 10765]"
1,Godhand,63174,5.0,Lucifer,"[80, 10765]"
2,tmdb38541732,1402,6.0,The Walking Dead,"[10759, 18, 10765]"
3,lukan87,1402,10.0,The Walking Dead,"[10759, 18, 10765]"
4,benefits247,1402,1.0,The Walking Dead,"[10759, 18, 10765]"
...,...,...,...,...,...
210,benefits247,81241,1.0,Dispatches from Elsewhere,"[18, 9648]"
211,cesccarlos@gmail.com,81241,5.0,Dispatches from Elsewhere,"[18, 9648]"
212,noche.oscura,81241,8.0,Dispatches from Elsewhere,"[18, 9648]"
213,Clarst11,81241,6.0,Dispatches from Elsewhere,"[18, 9648]"
214,wogsurfer,81241,5.0,Dispatches from Elsewhere,"[18, 9648]"

In [12]:
matrix = data.pivot_table(index='userId', columns='original_title', values='rating')

In [13]:
matrix

original_title,13 Reasons Why,American Horror Story,Another Life,Arrow,Atlanta,Band of Brothers,Black Summer,Breaking Bad,Castle Rock,Chernobyl,...,Westworld,Wu Assassins,You,Zone Blanche,ドラゴンボール超（スーパー）,バキ,ワンパンマン,僕のヒーローアカデミア,宇崎ちゃんは遊びたい！,転生したらスライムだった件
userId,,,,,,,,,,,,,,,,,,,,,
Abro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AdamRife,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
Bertaut,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BruhDev,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Charles Dance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tmdb92828292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tmdbsom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wan_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wogsurfer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zag2me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
GENRE_WEIGHT = 0.001 # 같을 장르일 시, 더하는 가중치 값

def pearsonR(s1, s2):
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

def recommend_program(input_program, matrix, n, similar_genre=True):
    input_genres = meta[meta['original_title'] == input_program]['genres'].iloc(0)[0]

    result = []
    for title in matrix.columns:
        if title == input_program:
            continue

        # rating comparison
        cor = pearsonR(matrix[input_program], matrix[title])

        # genre comparison
        temp_genres = []
        if similar_genre and len(input_genres) > 0:
            temp_genres = meta[meta['original_title'] == title]['genres'].iloc(0)[0]

            same_count = np.sum(np.isin(input_genres, temp_genres))
            cor += (GENRE_WEIGHT * same_count)

        if np.isnan(cor):
            continue
        else:
            result.append((title, '{:.100f}'.format(cor), temp_genres))

    result.sort(key=lambda r: r[1], reverse=True)

    return result[:n]

In [18]:
recommend_result = recommend_program("Lucifer", matrix, 10, similar_genre=True)
recommend_result

c:\users\multicampus\desktop\github_repo\s05p21d202\backend\venv\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in double_scalars

[]

In [16]:
result = pd.DataFrame(recommend_result, columns = ['Title', 'Correlation', 'Genre'])

In [22]:
input_program = "Lucifer"

In [23]:
input_genres = meta[meta['original_title'] == "Lucifer"]['genres'].iloc(0)[0]
input_genres

[80, 10765]

In [24]:
matrix[input_program]

userId
Abro            NaN
AdamRife        NaN
Bertaut         NaN
BruhDev         NaN
Charles Dance   NaN
                 ..
tmdb92828292    NaN
tmdbsom         NaN
wan_            NaN
wogsurfer       NaN
zag2me          NaN
Name: Lucifer, Length: 124, dtype: float64

In [25]:
matrix.columns

Index(['13 Reasons Why', 'American Horror Story', 'Another Life', 'Arrow',
       'Atlanta', 'Band of Brothers', 'Black Summer', 'Breaking Bad',
       'Castle Rock', 'Chernobyl', 'Cobra Kai', 'Dark', 'Daybreak',
       'Dead to Me', 'Dispatches from Elsewhere', 'Doctor Who', 'Dracula',
       'Euphoria', 'Fear the Walking Dead', 'Game of Thrones', 'Giri/Haji',
       'Glee', 'House of Cards', 'Lucifer', 'Marianne', 'Marvel's Iron Fist',
       'Marvel's Jessica Jones', 'Marvel's Luke Cage', 'One Day at a Time',
       'Riverdale', 'Russian Doll', 'Safe', 'Schitt's Creek', 'Space Force',
       'Star Trek', 'Star Trek: Discovery', 'Stranger Things', 'Supernatural',
       'The A List', 'The Alienist', 'The Blacklist', 'The Boys',
       'The Dragon Prince', 'The Expanse', 'The Flash', 'The Good Doctor',
       'The Good Place', 'The Handmaid's Tale', 'The Haunting of Hill House',
       'The Last Kingdom', 'The Man in the High Castle', 'The OA',
       'The Queen's Gambit', 'The Simpsons', 'The Society',
       'The Umbrella Academy', 'The Vampire Diaries', 'The Walking Dead',
       'The West Wing', 'The Witcher', 'Tom Clancy's Jack Ryan',
       'Top of the Lake', 'Trollhunters: Tales of Arcadia', 'True Detective',
       'Unsolved Mysteries', 'V Wars', 'Warrior Nun', 'Watchmen', 'Westworld',
       'Wu Assassins', 'You', 'Zone Blanche', 'ドラゴンボール超（スーパー）', 'バキ', 'ワンパンマン',
       '僕のヒーローアカデミア', '宇崎ちゃんは遊びたい！', '転生したらスライムだった件'],
      dtype='object', name='original_title')